version: '3.8'

services:
  postgres-db:
    image: postgres:latest
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: test123
    ports:
      - "85432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  mssql-db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: mssql-db
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "test123"
    ports:
      - "81433:1433"
    volumes:
      - mssql_data:/var/opt/mssql
    restart: always

  redis-cache:
    image: redis:latest
    container_name: redis-cache
    command: redis-server --requirepass test123
    ports:
      - "86379:6379"
    volumes:
      - redis_data:/data
    restart: always

volumes:
  postgres_data:
  mssql_data:
  redis_data: